name: CI Workflow

on: [push]

env:
  RUBY_VERSION: 4.0.1

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  security:
    uses: ./.github/workflows/security.yml

  tests:
    uses: ./.github/workflows/tests.yml
