name: Security Workflow

on:
  workflow_call:

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '24'

    - name: Enable Corepack
      run: corepack enable

    - name: Setup Ruby Environment
      uses: ./.github/actions/setup-ruby

    - name: Brakeman
      run: bundle exec brakeman -6q --no-color

    - name: Bundler audit
      run: bundle exec bundler-audit check --update

    - name: Yarn audit
      run: yarn npm audit
